:root {
    --main-bg-color:  rgb(218, 218, 218);
    --nav-bg-color: rgba(255, 255, 255, 0.473);
    --primary-blue-color: rgb(63, 148, 228);
    --text-color: rgb(77, 75, 75);
    --shadow-color: rgb(190, 190, 190);
    --primary-white-color: white;
    --link-text-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Baloo Tamma 2', cursive;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}
.container-header {
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
}


/* NAVIGATION */
.logo {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}
.navigation {
    max-width: 1000px;
    background-color: var(--nav-bg-color);
    height: 70px;
    padding-left: 10px;
    position: relative;
    top: 30px;
}
.navigation, .links {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.links li a{
    margin-left: 25px;
    color: var(--link-text-color);
    font-weight: 500;
    text-decoration: none;
}
.links li a:hover{
    color: black;
    border-top: 2px solid var(--primary-blue-color);
    padding-top: 25px;
}
.icons {
    display: flex;
    margin-right: 15px;
}
.icons img {
    margin-right: 20px;
}
select {
    background-color: transparent;
}

@media(max-width: 870px){
    .logo {
        display: none;
    }
    .section-header h1{
        font-size: 12px;
    }
    .navigation, .links {
        display: flex;
        flex: 300px;
        line-height: 1.5;
    }
    .links li a:hover {
        border: none;
    }
}
/* SECTION HEADER */
.section-header h1{
    display: flex;
    justify-content: center;
    font-size: 62px;
    letter-spacing: 10px;
    color: var(--primary-white-color);
    text-shadow: 2px 4px var(--shadow-color);
    margin-top: 100px;
}

@media(max-width: 870px){
    .section-header h1{
        font-size: 42px;
    }
}
.section-header p {
    max-width: 580px;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    color: var(--text-color);
}

.section-header-links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.section-header-links a {
    text-decoration: none;
    font-weight: bold;
}
.section-header-links a:hover {
    opacity: 0.8;
}
.section-header-links a:first-child {
    color: var(--primary-white-color);
    background-color:var(--primary-blue-color);
    padding: 15px 20px;
}
.section-header-links a:last-child{
    color: var(--primary-blue-color);
    background-color: var(--primary-white-color);
    padding: 15px 20px;
    margin-left: 15px;
}
